@charset "UTF-8";

body
{
	background: #3B1D67;
	font-family: "Arial";
}

#wrapper {
    width: 500px;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#div1 {
    width: 300px;
    float:left; /* add this */
    border: 1px solid red;
}
#div2 {
    border: 1px solid green;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.site
{
	display:flex;
	flex-direction:column;
	align-items: center;
	padding:20px;
}

.form-login
{
	max-width: 500px;
	width: 70%;
}

.form-login button
{
	margin: 20px 0 !important;
	background:#37792E;
	color:#fff;
	padding:10px;
}

.form-login .ui-fieldset-content
{
	padding: 10px 0;
}

.form-login input
{
	width: 100%;
	padding: 10px;
}

.form-login fieldset
{
	background: #fff;
}